#!/usr/bin/rrdcgi
        <HTML>
        <HEAD>
	    <TITLE>Multifon summary</TITLE>
	    <meta http-equiv="refresh" content="300" />
	</HEAD>
        <BODY>
        <H1>Multifon summary</H1>

	<FORM>
	    <SELECT NAME="RRD_TIME">	
		<OPTION SELECTED="true" value=1>1 hour</OPTION>
		<OPTION value=2>2 hours</OPTION>
		<OPTION value=3>3 hours</OPTION>
		<OPTION value=6>6 hours</OPTION>
		<OPTION value=24>1 day</OPTION>
		<OPTION value=72>3 day</OPTION>
		<OPTION value=168>1 week</OPTION>
	    </SELECT>
            <INPUT TYPE=SUBMIT>
	</FORM>	
	
<RRD::GRAPH
	 --imginfo '<IMG SRC=/images/%s WIDTH=%lu HEIGHT=%lu >'
	  /var/www/html/images/sem1.png
    -w 800 -h200 
    -s end-<RRD::CV::PATH RRD_TIME>hour
    -t "Requests per second" 
    -v "y axis title" 
    -l 0 
    DEF:reg2A=/var/lib/munin/loadsem1/loadsem1-mbl_counters_register_A-register-d.rrd:42:AVERAGE 
    DEF:reg2B=/var/lib/munin/loadsem1/loadsem1-mbl_counters_register_B-register-d.rrd:42:AVERAGE 
    DEF:reg2C=/var/lib/munin/loadsem1/loadsem1-mbl_counters_register_C-register-d.rrd:42:AVERAGE 
    DEF:reg2D=/var/lib/munin/loadsem1/loadsem1-mbl_counters_register_D-register-d.rrd:42:AVERAGE 
    DEF:inv2=/var/lib/munin/loadsem1/loadsem1-scc_counters_A-invites-d.rrd:42:AVERAGE 
    DEF:good2=/var/lib/munin/loadsem1/loadsem1-scc_counters_A-goodCalls-d.rrd:42:AVERAGE 
    CDEF:sumReg=reg2A,reg2B,+,reg2C,+,reg2D,+
    CDEF:sum=sumReg,inv2,+
    COMMENT:"                 Cur\:           Min\:        Max\:           Avg\:\n" 
    LINE1:good2#0000FF:"Good" GPRINT:good2:LAST:"    %10.2lf %s" GPRINT:good2:MIN:"%10.2lf %s"  GPRINT:good2:MAX:"%10.2lf %s"  GPRINT:good2:AVERAGE:"%10.2lf %s\n" 
    LINE1:inv2#FF0000:"INVITE" GPRINT:inv2:LAST:"  %10.2lf %s" GPRINT:inv2:MIN:"%10.2lf %s"  GPRINT:inv2:MAX:"%10.2lf %s"  GPRINT:inv2:AVERAGE:"%10.2lf %s\n" 
    LINE1:sumReg#00FF00:"REGISTER" GPRINT:sumReg:LAST:"%10.2lf %s" GPRINT:sumReg:MIN:"%10.2lf %s"  GPRINT:sumReg:MAX:"%10.2lf %s"  GPRINT:sumReg:AVERAGE:"%10.2lf %s\n" 
    LINE1:sum#000000:"Total" GPRINT:sum:LAST:"%10.2lf %s" GPRINT:sum:MIN:"%10.2lf %s"  GPRINT:sum:MAX:"%10.2lf %s"  GPRINT:sum:AVERAGE:"%10.2lf %s\n" 
>

        <RRD::GRAPH /var/www/html/images/sem1-active_sessions.png
	 --imginfo '<IMG SRC=/images/%s WIDTH=%lu HEIGHT=%lu >'
    -w 800 -h200 
    -s end-<RRD::CV::PATH RRD_TIME>hour
    -t "SEM1 Active sessions" 
    -v "y axis title" 
    -l 0 
    DEF:established=/var/lib/munin/loadsem1/loadsem1-scc_processing_A-establishedCalls-g.rrd:42:AVERAGE
    DEF:ringing=/var/lib/munin/loadsem1/loadsem1-scc_processing_A-ringingCalls-g.rrd:42:AVERAGE
    DEF:saiActive=/var/lib/munin/loadsem1/loadsem1-sai_processing_A-activeSessions-g.rrd:42:AVERAGE
    DEF:saiActiveRegister=/var/lib/munin/loadsem1/loadsem1-sai_processing_A-activeRegister-g.rrd:42:AVERAGE
    DEF:saiActiveInvite=/var/lib/munin/loadsem1/loadsem1-sai_processing_A-activeInvite-g.rrd:42:AVERAGE
    COMMENT:"                 Cur\:           Min\:        Max\:           Avg\:\n" 
    LINE1:established#00FF00:"Established" GPRINT:established:LAST:"%10.2lf %s" GPRINT:established:MIN:"%10.2lf %s"  GPRINT:established:MAX:"%10.2lf %s"  GPRINT:established:AVERAGE:"%10.2lf %s\n" 
    LINE1:ringing#0000FF:"Ringing" GPRINT:ringing:LAST:"%10.2lf %s" GPRINT:ringing:MIN:"%10.2lf %s"  GPRINT:ringing:MAX:"%10.2lf %s"  GPRINT:ringing:AVERAGE:"%10.2lf %s\n" 
    LINE1:saiActive#FF00FF:"sai Active"		GPRINT:saiActive:LAST:"%10.2lf %s"		GPRINT:saiActive:MIN:"%10.2lf %s"
						GPRINT:saiActive:MAX:"%10.2lf %s"		GPRINT:saiActive:AVERAGE:"%10.2lf %s\n" 
    LINE1:saiActiveRegister#00FFFF:"sai Active Register"		
						GPRINT:saiActiveRegister:LAST:"%10.2lf %s"	GPRINT:saiActiveRegister:MIN:"%10.2lf %s"
						GPRINT:saiActiveRegister:MAX:"%10.2lf %s"	GPRINT:saiActiveRegister:AVERAGE:"%10.2lf %s\n" 
    LINE1:saiActiveInvite#FFAA00:"sai Active Invite"		
						GPRINT:saiActiveInvite:LAST:"%10.2lf %s"	GPRINT:saiActiveInvite:MIN:"%10.2lf %s"
						GPRINT:saiActiveInvite:MAX:"%10.2lf %s"		GPRINT:saiActiveInvite:AVERAGE:"%10.2lf %s\n" 
    COMMENT:"\n" 
	>


<RRD::GRAPH
	 --imginfo '<IMG SRC=/images/%s WIDTH=%lu HEIGHT=%lu >'
	  /var/www/html/images/sem2.png
    -w 800 -h200 
    -s end-<RRD::CV::PATH RRD_TIME>hour
    -t "Requests per second" 
    -v "y axis title" 
    -l 0 
    DEF:reg2A=/var/lib/munin/loadsem2/loadsem2-mbl_counters_register_A-register-d.rrd:42:AVERAGE 
    DEF:reg2B=/var/lib/munin/loadsem2/loadsem2-mbl_counters_register_B-register-d.rrd:42:AVERAGE 
    DEF:reg2C=/var/lib/munin/loadsem2/loadsem2-mbl_counters_register_C-register-d.rrd:42:AVERAGE 
    DEF:reg2D=/var/lib/munin/loadsem2/loadsem2-mbl_counters_register_D-register-d.rrd:42:AVERAGE 
    DEF:inv2=/var/lib/munin/loadsem2/loadsem2-scc_counters_A-invites-d.rrd:42:AVERAGE 
    DEF:good2=/var/lib/munin/loadsem2/loadsem2-scc_counters_A-goodCalls-d.rrd:42:AVERAGE 
    CDEF:sumReg=reg2A,reg2B,+,reg2C,+,reg2D,+
    CDEF:sum=sumReg,inv2,+
    COMMENT:"                 Cur\:           Min\:        Max\:           Avg\:\n" 
    LINE1:good2#0000FF:"Good" GPRINT:good2:LAST:"    %10.2lf %s" GPRINT:good2:MIN:"%10.2lf %s"  GPRINT:good2:MAX:"%10.2lf %s"  GPRINT:good2:AVERAGE:"%10.2lf %s\n" 
    LINE1:inv2#FF0000:"INVITE" GPRINT:inv2:LAST:"  %10.2lf %s" GPRINT:inv2:MIN:"%10.2lf %s"  GPRINT:inv2:MAX:"%10.2lf %s"  GPRINT:inv2:AVERAGE:"%10.2lf %s\n" 
    LINE1:sumReg#00FF00:"REGISTER" GPRINT:sumReg:LAST:"%10.2lf %s" GPRINT:sumReg:MIN:"%10.2lf %s"  GPRINT:sumReg:MAX:"%10.2lf %s"  GPRINT:sumReg:AVERAGE:"%10.2lf %s\n" 
    LINE1:sum#000000:"Total" GPRINT:sum:LAST:"%10.2lf %s" GPRINT:sum:MIN:"%10.2lf %s"  GPRINT:sum:MAX:"%10.2lf %s"  GPRINT:sum:AVERAGE:"%10.2lf %s\n" 
>


        <RRD::GRAPH /var/www/html/images/sem2-active_sessions.png
	 --imginfo '<IMG SRC=/images/%s WIDTH=%lu HEIGHT=%lu >'
    -w 800 -h200 
    -s end-<RRD::CV::PATH RRD_TIME>hour
    -t "SEM2 Active sessions" 
    -v "y axis title" 
    -l 0 
    DEF:established=/var/lib/munin/loadsem2/loadsem2-scc_processing_A-establishedCalls-g.rrd:42:AVERAGE
    DEF:ringing=/var/lib/munin/loadsem2/loadsem2-scc_processing_A-ringingCalls-g.rrd:42:AVERAGE
    DEF:saiActive=/var/lib/munin/loadsem2/loadsem2-sai_processing_A-activeSessions-g.rrd:42:AVERAGE
    DEF:saiActiveRegister=/var/lib/munin/loadsem2/loadsem2-sai_processing_A-activeRegister-g.rrd:42:AVERAGE
    DEF:saiActiveInvite=/var/lib/munin/loadsem2/loadsem2-sai_processing_A-activeInvite-g.rrd:42:AVERAGE
    COMMENT:"                 Cur\:           Min\:        Max\:           Avg\:\n" 
    LINE1:established#00FF00:"Established" GPRINT:established:LAST:"%10.2lf %s" GPRINT:established:MIN:"%10.2lf %s"  GPRINT:established:MAX:"%10.2lf %s"  GPRINT:established:AVERAGE:"%10.2lf %s\n" 
    LINE1:ringing#0000FF:"Ringing" GPRINT:ringing:LAST:"%10.2lf %s" GPRINT:ringing:MIN:"%10.2lf %s"  GPRINT:ringing:MAX:"%10.2lf %s"  GPRINT:ringing:AVERAGE:"%10.2lf %s\n" 
    LINE1:saiActive#FF00FF:"sai Active"		GPRINT:saiActive:LAST:"%10.2lf %s"		GPRINT:saiActive:MIN:"%10.2lf %s"
						GPRINT:saiActive:MAX:"%10.2lf %s"		GPRINT:saiActive:AVERAGE:"%10.2lf %s\n" 
    LINE1:saiActiveRegister#00FFFF:"sai Active Register"		
						GPRINT:saiActiveRegister:LAST:"%10.2lf %s"	GPRINT:saiActiveRegister:MIN:"%10.2lf %s"
						GPRINT:saiActiveRegister:MAX:"%10.2lf %s"	GPRINT:saiActiveRegister:AVERAGE:"%10.2lf %s\n" 
    LINE1:saiActiveInvite#FFAA00:"sai Active Invite"		
						GPRINT:saiActiveInvite:LAST:"%10.2lf %s"	GPRINT:saiActiveInvite:MIN:"%10.2lf %s"
						GPRINT:saiActiveInvite:MAX:"%10.2lf %s"		GPRINT:saiActiveInvite:AVERAGE:"%10.2lf %s\n" 
    COMMENT:"\n" 
	>


<RRD::GRAPH
	 --imginfo '<IMG SRC=/images/%s WIDTH=%lu HEIGHT=%lu >'
	  /var/www/html/images/cpu-sem1.png
    -w 800 -h200 
    -s end-<RRD::CV::PATH RRD_TIME>hour
    -t "CPU" 
    -v "y axis title" 
    -l 0 
    DEF:idle=/var/lib/munin/loadsem1/loadsem1-cpu-idle-d.rrd:42:AVERAGE 
    DEF:user=/var/lib/munin/loadsem1/loadsem1-cpu-user-d.rrd:42:AVERAGE 
    DEF:system=/var/lib/munin/loadsem1/loadsem1-cpu-system-d.rrd:42:AVERAGE 
    DEF:iowait=/var/lib/munin/loadsem1/loadsem1-cpu-iowait-d.rrd:42:AVERAGE 
    COMMENT:"                 Cur\:           Min\:        Max\:           Avg\:\n" 
    AREA:iowait#FF000044:"Iowait" GPRINT:iowait:LAST:"%10.2lf %s" GPRINT:iowait:MIN:"%10.2lf %s"  GPRINT:iowait:MAX:"%10.2lf %s"  GPRINT:iowait:AVERAGE:"%10.2lf %s\n" 
    STACK:system#00FF0044:"System" GPRINT:system:LAST:"%10.2lf %s" GPRINT:system:MIN:"%10.2lf %s"  GPRINT:system:MAX:"%10.2lf %s"  GPRINT:system:AVERAGE:"%10.2lf %s\n" 
    STACK:user#0000FF44:"User" GPRINT:user:LAST:"  %10.2lf %s" GPRINT:user:MIN:"%10.2lf %s"  GPRINT:user:MAX:"%10.2lf %s"  GPRINT:user:AVERAGE:"%10.2lf %s\n" 
    STACK:idle#FFFF0044:"Idle" GPRINT:idle:LAST:"  %10.2lf %s" GPRINT:idle:MIN:"%10.2lf %s"  GPRINT:idle:MAX:"%10.2lf %s"  GPRINT:idle:AVERAGE:"%10.2lf %s\n" 
>

<RRD::GRAPH
	 --imginfo '<IMG SRC=/images/%s WIDTH=%lu HEIGHT=%lu >'
	  /var/www/html/images/cpu-sem2.png
    -w 800 -h200 
    -s end-<RRD::CV::PATH RRD_TIME>hour
    -t "CPU" 
    -v "y axis title" 
    -l 0 
    DEF:idle=/var/lib/munin/loadsem2/loadsem2-cpu-idle-d.rrd:42:AVERAGE 
    DEF:user=/var/lib/munin/loadsem2/loadsem2-cpu-user-d.rrd:42:AVERAGE 
    DEF:system=/var/lib/munin/loadsem2/loadsem2-cpu-system-d.rrd:42:AVERAGE 
    DEF:iowait=/var/lib/munin/loadsem2/loadsem2-cpu-iowait-d.rrd:42:AVERAGE 
    COMMENT:"                 Cur\:           Min\:        Max\:           Avg\:\n" 
    AREA:iowait#FF000044:"Iowait" GPRINT:iowait:LAST:"%10.2lf %s" GPRINT:iowait:MIN:"%10.2lf %s"  GPRINT:iowait:MAX:"%10.2lf %s"  GPRINT:iowait:AVERAGE:"%10.2lf %s\n" 
    STACK:system#00FF0044:"System" GPRINT:system:LAST:"%10.2lf %s" GPRINT:system:MIN:"%10.2lf %s"  GPRINT:system:MAX:"%10.2lf %s"  GPRINT:system:AVERAGE:"%10.2lf %s\n" 
    STACK:user#0000FF44:"User" GPRINT:user:LAST:"  %10.2lf %s" GPRINT:user:MIN:"%10.2lf %s"  GPRINT:user:MAX:"%10.2lf %s"  GPRINT:user:AVERAGE:"%10.2lf %s\n" 
    STACK:idle#FFFF0044:"Idle" GPRINT:idle:LAST:"  %10.2lf %s" GPRINT:idle:MIN:"%10.2lf %s"  GPRINT:idle:MAX:"%10.2lf %s"  GPRINT:idle:AVERAGE:"%10.2lf %s\n" 
>






        <RRD::GRAPH /var/www/html/images/1.png
	 --imginfo '<IMG SRC=/images/%s WIDTH=%lu HEIGHT=%lu >'
    -w 800 -h200 
    -s end-<RRD::CV::PATH RRD_TIME>hour
    -t "Mysql 1" 
    -v "y axis title" 
    -l 0 
    DEF:deletes=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql1_queries-delete-d.rrd:42:AVERAGE
    DEF:inserts=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql1_queries-insert-d.rrd:42:AVERAGE 
    DEF:replaces=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql1_queries-replace-d.rrd:42:AVERAGE 
    DEF:selects=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql1_queries-select-d.rrd:42:AVERAGE 
    DEF:updates=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql1_queries-update-d.rrd:42:AVERAGE 
    CDEF:sum=deletes,inserts,+,replaces,+,selects,+,updates,+
    COMMENT:"                 Cur\:           Min\:        Max\:           Avg\:\n" 
    AREA:sum#FFEE0011:"Summary" GPRINT:sum:LAST:"%10.2lf %s" GPRINT:sum:MIN:"%10.2lf %s"  GPRINT:sum:MAX:"%10.2lf %s"  GPRINT:sum:AVERAGE:"%10.2lf %s\n" 
    LINE1:deletes#0000FF:"deletes" GPRINT:deletes:LAST:"%10.2lf %s" GPRINT:deletes:MIN:"%10.2lf %s"  GPRINT:deletes:MAX:"%10.2lf %s"  GPRINT:deletes:AVERAGE:"%10.2lf %s\n" 
    LINE1:inserts#00FFFF:"inserts\n" 
    LINE1:replaces#AA0000:"replaces\n" 
    LINE1:selects#00FF00:"selects\n" 
    LINE1:updates#AAAA00:"updates\n" 
    COMMENT:"\n" 
    DEF:hour_ago_selects=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql1_queries-select-d.rrd:42:AVERAGE:start=end-2hour 
    SHIFT:hour_ago_selects:3600 
    LINE1:hour_ago_selects#00000044:"selects\n"
	>

<RRD::GRAPH
	 --imginfo '<IMG SRC=/images/%s WIDTH=%lu HEIGHT=%lu >'
	  /var/www/html/images/2.png
    -w 800 -h200 
    -s end-<RRD::CV::PATH RRD_TIME>hour
    -t "Mysql 2" 
    -v "y axis title" 
    -l 0 
    DEF:deletes=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql2_queries-delete-d.rrd:42:AVERAGE 
    DEF:inserts=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql2_queries-insert-d.rrd:42:AVERAGE 
    DEF:replaces=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql2_queries-replace-d.rrd:42:AVERAGE 
    DEF:selects=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql2_queries-select-d.rrd:42:AVERAGE 
    DEF:updates=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql2_queries-update-d.rrd:42:AVERAGE
    CDEF:sum=deletes,inserts,+,replaces,+,selects,+,updates,+
    COMMENT:"                 Cur\:           Min\:        Max\:           Avg\:\n" 
    AREA:sum#FFEE0011:"Summary" GPRINT:sum:LAST:"%10.2lf %s" GPRINT:sum:MIN:"%10.2lf %s"  GPRINT:sum:MAX:"%10.2lf %s"  GPRINT:sum:AVERAGE:"%10.2lf %s\n" 
    LINE1:deletes#0000FF:"deletes" GPRINT:deletes:LAST:"%10.2lf %s" GPRINT:deletes:MIN:"%10.2lf %s"  GPRINT:deletes:MAX:"%10.2lf %s"  GPRINT:deletes:AVERAGE:"%10.2lf %s\n" 
    LINE1:inserts#00FFFF:"inserts\n" 
    LINE1:replaces#AA0000:"replaces\n" 
    LINE1:selects#00FF00:"selects\n" 
    LINE1:updates#AAAA00:"updates\n" 
    COMMENT:"\n" 
    DEF:hour_ago_selects=/var/lib/munin/ss_sdf_lab/ss_sdf_lab-mysql2_queries-select-d.rrd:42:AVERAGE:start=end-2hour 
    SHIFT:hour_ago_selects:3600 
    LINE1:hour_ago_selects#00000044:"selects\n"
	>

        </BODY>
        </HTML>
