#!/usr/bin/rrdcgi
<HTML>
    <HEAD>
        <TITLE>Overview</TITLE>
        <meta http-equiv="refresh" content="60" />
    </HEAD>
    <BODY>
        <H1>Overview</H1>
	@BODY@
	<a href="../reload.php">Configure</a>
    </BODY>
</HTML>
